<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Suite">
  <test verbose="2" name="Test">
    <classes>
      <class name="main.seTests.AUTreports"/>
    </classes>
  </test> <!-- Test -->
  
  <listeners>
  <listener class-name="atu.testng.reports.listeners.ATUReportsListener">
   </listener>
  <listener class-name="atu.testng.reports.listeners.ConfigurationListener">
  </listener>
  <listener class-name="atu.testng.reports.listeners.MethodListener">
  </listener>
  </listeners>
  
</suite> <!-- Suite -->
